/* アプリケーションのメインコンテナスタイル */

.appContainer {
    position: relative;
    height: 100vh;
    /* コンテナの高さをビューポートの高さと同じに設定 */
    display: flex;
    /* Flexbox レイアウトを使用 */
    flex-direction: column;
    /* 子要素を縦方向に配置 */
}


/* 検索フォームコンテナのスタイル */

.searchContainer {
    text-align: center;
    /* 中央揃えでテキストとフォームを表示 */
}


/* メインコンテンツ領域のスタイル */

.mainContent {
    display: flex;
    /* Flexbox レイアウトを使用 */
    flex-grow: 1;
    /* 利用可能なスペースをすべて使用 */
}


/* 左側のコンテンツエリア（ショップリストやレビューリスト）のスタイル */

.halfWidth {
    width: 50%;
    /* 幅を親要素の50%に設定 */
    overflow-y: auto;
    /* 縦方向のスクロールバーを必要に応じて表示 */
}


/* 右側のコンテンツエリア（地図）のスタイル */

.mapHeight {
    width: 50%;
    /* 幅を親要素の50%に設定 */
    height: 100%;
    /* 高さを親要素の100%に設定 */
}

.reviewform {
    padding: 20px;
    /* パディングを適切な量に調整 */
    max-width: 800px;
    /* 最大幅を設定 */
    width: 100%;
    /* 幅を100%に設定して、利用可能なスペースを全て使用 */
    margin: 0 auto;
    /* 中央寄せ */
    height: auto;
    /* 高さを自動に設定して、内容に合わせる */
    text-align: center;
}

.goBackButton {
    position: absolute;
    /* 絶対位置指定 */
    top: 20px;
    /* 上から20ピクセルの位置 */
    left: 20px;
    /* 左から20ピクセルの位置 */
    width: 100px;
    font-size: 1.2em;
    padding: 10px 20px;
}