.shopListContainer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* リストのスタイルをリセット */
}

.shopListItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* 中央揃えを保持、もしくは必要に応じて変更 */
    border-bottom: 1px solid #ddd;
    /* 下線で区切り */
    margin-bottom: 10px;
    /* 下の項目との間隔 */
    padding: 5px 0;
    /* 上下のパディングを小さくする */
    /* height: 100px;  もし高さを固定したい場合に追加 */
}

.shopListItem:hover {
    background-color: #f8f8f8;
    /* ホバー時の背景色 */
}

.shopImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.shopName {
    font-size: 1.4em;
}


/* ページネーションボタンのスタイル */

.paginationButton {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px 5px;
    /* ボタン間の間隔 */
    cursor: pointer;
}